*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: rgb(42, 41, 41);
  font-family: cursive;
  color: yellow;
}

.neon-button {
  font-size: 4rem;
  color: blue;
  text-decoration: none;
  border: 4px solid yellow;
  padding: 40px 80px;
  border-radius: 20px;

  text-shadow: 0px 2px 8px aliceblue, 0 0 20px blue;
  box-shadow: inset 0 0 120px blue, 0 0 80px blue;

  position: relative;

  transition: background-color 700ms linear;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(174, 0, 255);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(60px);
  transition: background-color 700ms linear;
}
.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 0 0 30px 30px yellow;
  opacity: 0;
  transition: opacity 0.3s linear;
  border-radius: 20px;
}

.neon-button:hover::after {
  opacity: 1;
  border-radius: 20px;
}
.neon-button:hover:before {
  background-color: rgb(251, 255, 0);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(60px);
  transition: background-color 700ms linear;
}

.neon-button:hover {
  background-color: aqua;
  color: blueviolet;
  text-shadow: none;
}
